@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

*, *::before, *::after { 
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

/* Reset CSS */
*, *::before, *::after {
  box-sizing: border-box;
}

fieldset {
  padding: 0;
  border: 0 none;
}

legend, .a11y-hidden {
  background: tomato;
  position: absolute;
  /* top: -9999em; 브라우저 밖으로 숨김(스크린리더로 읽어줌, 그러나 리딩 중 화면이 위로 튀어 보여줌), dispaly: none;를 사용할 경우 존재 자체를 지워버림 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip: rect(0,0,0,0); 마스킹 처리 > clip-path로 변경됨 */
  clip-path: polygon(0 0, 0 0, 0 0);
}

a {
  text-decoration: none;
  color: inherit;
}
/* All Style */
body {
  color: #181818;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > *, .main-content > * {
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%; 
  확대 비율 크기 */
  flex : 0 1 100%;
}

.navigation {
  background: lightpink;
}

.main-content {
  background: lightsalmon;
}

.recommend-book {
  background: lightyellow;
}

.news {
  background: coral;
}

.board {
  background: aquamarine;
}

.favorite-site {
  background: gold;
}

.twitter {
  background: teal;
}

.footer {
  background: lightgreen;
}

/* logo */
.logo {
  margin: 0;
}

/* member */
.member {
  list-style: none;
  padding-left: 0;
  margin: 0;
  justify-content: flex-end;
}


/* Mobile Style */
@media screen and (max-width: 62.5em ){ /* 1000px / 16 = 62.5 */
  .header {
    background: #38302e;
    padding-bottom: 1.5em;
  }
  .header > * {
    width: 100%;
    padding: 0 20px;
  }

  .logo {
    padding: 0.5em 0;
  }
  
  .member {
    order: -1;
    background: #988574;
    color: #fff;
  }

  .member a {
    padding: 0.5em;
    margin-left: 0.5em;
    display: block;
    /* box가 inline이라 안늘어남 disply:block 사용 */
    margin-right: -0.5em; 

  }

  .search input[type="search"] {
    width: calc(100% - 3em);
    border: 1px solid #aaa;
    border-radius: 0.35em;
    padding: 1px 1px 1px 0.5em;
    height: 2em;
    margin-right: 0.5em;
  }

  .btn-search {   
    background: transparent;
    border: 0;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
  }

  .btn-search::after {
    content: "";
    /* after은 가상의 박스라 content 사용 */
    background: url(./images/btn_search.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* display: block; ::before, ::after의 경우 display : inline이라 w,h 동작 X */
    position: absolute; 
    /* absoulte -> display : block; */
    top: 0;
    left: 0;    
  }
}


/* Desktop Style */
@media screen and (min-width: 62.5em) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    /* background: red;
    height: 200px; */
    position: relative;
  }

  .main-content > * {
    flex: 0 1 auto;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo * {
    display: block; 
  }

  .member {
    width: 100%;
  }

  .member li {
    margin: 0.5em 0;
  }

  .member li:nth-child(n+2) {
    border-left: 2px dotted #181818;  
  }

  .member a {
    padding: 0 0.5em;
    display: block;
    margin-right: -0.5em;
  }

  .search {
    width: 100%;
    text-align: right;
  }

  .search * {
    vertical-align: middle;
  }

  .search input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 0.35em;
    padding: 1px 1px 1px 0.5em;
    height: 2em;
    width: 40%;
  }

  .btn-search {
    height: 2em;
    border: 1px solid #aaa;
    border-radius: 0.35em;
    background: #988574;
    color: #fff;
  }

  .navigation {
    width: 100%;
  }

  .header, .main-content, .footer {
    /* flex: 0 1 1000px; */
    width: 1000px;
  }

  .recommend-book, .board {
    width: calc((65px * 4) + (20px * 3));
    /* calc((65px * 4) + (20px * 3)) 3:gutter line 수, gutter은 늘 줄-1 */
  }

  .news {
    width: calc((65px * 8) + (20px * 7));
    margin-left: 20px;
    /* gutter 크기 : 20px */
  }

  .favorite-site {
    width: calc((65px * 3) + (20px * 2));
    margin-left: 20px;
    /* gutter 크기 : 20px */
  }

  .twitter {
    width: calc((65px * 5) + (20px * 4));
    margin-left: 20px;
    /* gutter 크기 : 20px */
  }
}