@charset "utf-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(./fonts.css);

*,
*::before,
*::after {
  font-family: "Spoqa Han Sans", "Sans-serif";
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  padding: 0;
  border: 0 none;
}

legend,
.a11y-hidden {
  background: tomato;
  position: absolute;
  /* top: -9999em; 브라우저 밖으로 숨김(스크린리더로 읽어줌, 그러나 리딩 중 화면이 위로 튀어 보여줌), dispaly: none;를 사용할 경우 존재 자체를 지워버림 */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  /* clip: rect(0,0,0,0); 마스킹 처리 > clip-path로 변경됨 */
  clip-path: polygon(0 0, 0 0, 0 0);
}

a {
  text-decoration: none;
  color: inherit;
}
/* All Style */
body {
  color: #181818;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > *, .main-content > * {
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 100%; 
  확대 비율 크기 */
  /* flex: 0 1 100%; */
  width: 100%;
}

.twitter {
  background: teal;
}

.footer {
  background: lightgreen;
}

/* logo */
.logo {
  margin: 0;
}

/* member */
.member {
  list-style: none;
  padding-left: 0;
  margin: 0;
  justify-content: flex-end;
}

/* Main content */
.main-section-heading {
  background: url(./images/sprite_main.png) no-repeat;
  height: 60px;
  padding-left: 65px;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.news_heading {
  background-position: 0 -230px;
}

.board-heading {
  background-position: 0 -115px;
}

.favorite-site-heading {
  background-position: 0 -345px;
}

.twitter-heading {
  background-position: 0 -460px;
}

.en-heading {
  display: block;
  font-size: 1em;
}

.recommend-book-heading .en-heading{
  color: #abd375;
}

.news-heading .en-heading {
  color: #e8ca58;
}

.board-heading .en-heading {
  color: #c7b39a;
}

.favorite-site-heading .en-heading {
  color: #eea60a;
}

.twitter-heading .en-heading {
  color: #6aaee6;
}

.main-content [class$="summary"]{
  line-height: 1.5;
}

/* Recommend Book */
.recommend-book-cover{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cover-caption{
  margin-top: 1em;
  margin-bottom: 1em;
}

.recommend-book-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recommend-book-detail > * {
  margin-left: 0;
}

.recommend-book-author{
  margin-right: 0.5em;
}

.recommend-book-grade{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  color: #abd375;
}

/* news */
.news-date {
  display: block;
  /* 블록으로 지정하면 align 쓸 수 있음 왜냐하면 block은 라인이고 inline은 크기까지만 */
  text-align: right;
}

/* board */
.board {
  position: relative;
}

.board-list {
  list-style: none;
  padding-left: 0;
}

.board-list li {
  margin: 0.5em 0;
  display: flex;
  align-items: center;
}

.board-list a {
  /* a는 인라인이라 원래 넓이를 주지 못했으나 현재 flex의 아이템이라 사용 가능 */
  width: calc(100% - 7em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
}

.board-more {
  position: absolute;
  top: 1em;
  right: 0;
  padding: 0.5em;
}

.board-more::before {
  color: hsla(110, 30%, 50%, 1);
  /* 0도를 기준으로 돌아가는 색상표 */
}

/* favorite site */
.favorite-site-list{
  list-style: none;
  counter-reset: initial;
  padding-left: 1em;
}
.favorite-site-list li{
  counter-increment: number;
  margin: 0.85em 0;
}
.favorite-site-list li::before{
  content: counter(number);
  background: #eea60a;
  color: #fff;
  padding: 0 0.5em;
  border-radius: 50%;
}


/* .favorite-site-list li:nth-child(1)::before {
  content: "1";
}

.favorite-site-list li:nth-child(2)::before {
  content: "2";
}

.favorite-site-list li:nth-child(3)::before {
  content: "3";
}

.favorite-site-list li:nth-child(4)::before {
  content: "4";
} */


/* Mobile Style */
@media screen and (max-width: 62.5em) {
  /* 1000px / 16 = 62.5 */
  .header {
    background: #38302e;
    padding-bottom: 1.5em;
  }
  .header > * {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    padding: 0.5em;
    padding-bottom: 0.5em;
  }

  .member {
    order: -1;
    background: #988574;
    color: #fff;
  }

  .member a {
    padding: 0.5em;
    margin-left: 0.5em;
    display: block;
    /* box가 inline이라 안늘어남 disply:block 사용 */
    margin-right: -0.5em;
  }

  .search input[type="search"] {
    width: calc(100% - 3em);
    border: 1px solid #aaa;
    border-radius: 0.35em;
    padding: 1px 1px 1px 0.5em;
    height: 2em;
    margin-right: 0.5em;
  }

  .btn-search {
    background: transparent;
    border: 0;
    padding: 0;
    width: 2em;
    height: 2em;
    position: relative;
  }

  .btn-search::after {
    content: "";
    /* after은 가상의 박스라 content 사용 */
    background: url(./images/btn_search.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* display: block; ::before, ::after의 경우 display : inline이라 w,h 동작 X */
    position: absolute;
    /* absoulte -> display : block; */
    top: 0;
    left: 0;
  }

  /* mobile main menu button */

  .btn-menubar {
    cursor: pointer;
    background: transparent;
    position: absolute;
    top: 3.5em;
    right: 20px;
    border: 0 none;
    padding: 0;
    width: 2em;
    height: 2em;
    overflow: hidden;
  }

  .menubar {
    cursor: pointer;
    background: #fff;
    width: 100%;
    height: 25%;
    display: block;
    border-radius: 1em;
    position: absolute;
    left: 0;
    transition: all 200ms;
    /* transition-property: top, transform;
  transition-duration: 2s, 2s;
  transition-delay: 0s, 2s; */
  }

  .menubar-top {
    top: 0;
  }

  .menubar-middle {
    top: 50%;
    transform: translateY(-50%);
  }

  .menubar-bottom {
    top: 100%;
    transform: translateY(-100%);
  }

  .is-act .menubar-top {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .is-act .menubar-middle {
    transform: translate(-100%, -50%);
  }

  .is-act .menubar-bottom {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  /* main menu */
  .menu {
    /* color: transparent; 글자 투명*/
    opacity: 0;
    transform: translateX(-100%);
    list-style: none;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    padding: 1.5em 1em 1.5em 40px;
    transition: all 600ms;
  }

  .is-act .menu {
    transform: none;
    opacity: 1;
  }

  .menu-list {
    margin: 1em 0;
  }

  .sub-menu {
    list-style: disc;
    display: none;
  }

  .menu-act .sub-menu{
    display: block;
  }

  .sub-menu li {
    margin: 0.5em 0;
  }
}

/* Desktop Style */
@media screen and (min-width: 62.5em) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .header {
    position: relative;
    flex-basis: auto;
    padding: 1.5em 0;
  }

  .main-content > * {
    flex: 0 1 auto;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .logo * {
    display: block;
  }

  .member {
    width: 100%;
  }

  .member li {
    margin: 0.5em 0;
  }

  /* .member li:nth-child(n+2) {
    border-left: 2px dotted #181818;  
  } */

  .member li:nth-child(n + 2)::before {
    /* 첫번째 빼고 나머지 li 가짜 */
    content: "|";
    display: inline-block;
    margin-left: 0.5em;
  }

  .member a {
    padding: 0 0.5em;
    display: inline-block;
    margin-right: -0.5em;
  }

  .search {
    width: 100%;
    text-align: right;
    margin-top: 1em;
  }

  .search * {
    vertical-align: middle;
  }

  .search input[type="search"] {
    border: 1px solid #aaa;
    border-radius: 0.35em;
    padding: 1px 1px 1px 0.5em;
    height: 2em;
    width: 40%;
  }

  .btn-search {
    height: 2em;
    border: 1px solid #aaa;
    border-radius: 0.35em;
    background: #988574;
    color: #fff;
  }

  .header, .menu, .main-content, .footer{
    /* flex: 0 1 1000px; */
    width: 1000px;
    /* margin: 0 auto; */
  }

  .recommend-book, .board {
    width: calc((65px * 4) + (20px * 3));
    /* calc((65px * 4) + (20px * 3)) 3:gutter line 수, gutter은 늘 줄-1 */
    /* width: 320px; */
  }

  .news {
    width: calc((65px * 8) + (20px * 7));
    margin-left: 20px;
    /* gutter 크기 : 20px */
  }

  .favorite-site {
    width: calc((65px * 3) + (20px * 2));
    margin-left: 20px;
    order: 1;
    /* gutter 크기 : 20px */
  }

  .twitter {
    width: calc((65px * 5) + (20px * 4));
    margin-left: 20px;
    /* gutter 크기 : 20px */
  }

  /* main menu */
  .btn-menubar {
    display: none;
  }

  .navigation {
    background: #988574;
    /* border-top: 2px solid #181818;
    border-bottom: 2px solid #181818; */
    box-shadow: 0 1px 2px 0 #181818, 0 -1px 2px 0 #181818;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu, .sub-menu {
    list-style: none;
  }

  .menu {
    padding-left: 0;
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between; /* center */
    color: #fff
  }

  .menu-item {
    cursor: text;
    margin-bottom: 0.5em;
    padding: 0.2em 0.5em;
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 1px 0 0 #181818, 0 1px 0 0 #181818, -1px 0 0 #181818, 0 -1px 0 #181818;
  }

  .sub-menu {
    padding-left: 1.5em;
  }

  .sub-menu li {
    margin: 0.5em 0;
  }

  .sub-menu a {
    display: block;
    padding: 0.5em 0;
  }

  .sub-menu a:hover, .sub-menu a:focus {
    color : #ff0
  }
}
